@font-face {
  font-family: 'press_start_2p';
  src:
    url('./assets/fonts/pressstart2p/pressstart2p.woff2') format('woff2'),
    url('./assets/fonts/pressstart2p/pressstart2p.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
